@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

header {
    height: 9.097vw;
    align-items: center;
    display: flex;
}

.headertext {
    position: absolute;
    width: 7.9167vw;
    height: 2.361vw;
    left: 10.4167vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.944vw;
    font-weight: 800;
    line-height: 2.2917vw;
    letter-spacing: 0%;
    text-align: left;
}

.headerbutton {
    position: absolute;
    width: 20.833vw;
    height: 4.0277vw;
    left: 72.6389vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.15vw solid rgb(13, 19, 33);
    border-radius: 0.5556vw;
    opacity: 0.8;
}

.headerbuttontext {
    position: static;
    width: 20.833vw;
    height: 4.0277vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1.1805vw 1.6667vw 1.1805vw 1.6667vw;
    margin: 0px 0.6944vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.3889vw;
    font-weight: 600;
    line-height: 1.59722vw;
    letter-spacing: 0%;
    text-align: center;
}

.headerbuttontext:hover {
    color: crimson;
}

.section2box1buttontext:hover {
    color: crimson;
}

.section2box2buttontext:hover {
    color: crimson;
}

.section2box3buttontext:hover {
    color: crimson;
}

.section4image1link:hover {
    color: crimson;
}

.section4image2link:hover {
    color: crimson;
}

.section4image3link:hover {
    color: crimson;
}



.hero {
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    border-top: 0.4vw dashed #ccc;
    border-bottom: 0.4vw dashed #ccc;
    position: absolute;
    width: auto;
    height: 45.2778vw;
    left: 0;
    right: 0;
    padding-top: 1.8056vw;
    align-items: center;
    justify-content: center;
}

.mainbox {
    position: absolute;
    width: 69.30556vw;
    height: auto;
    left: 15.3472vw;
    right: 15.3472vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 16.6861vw;
    height: 16.6861vw;
    margin: 1.667vw;
}

.text1 {
    position: static;
    width: 69.3056vw;
    height: 9.444vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 3.33vw;
    font-weight: 800;
    line-height: 4.722vw;
    text-align: center;
}

.text2 {
    position: static;
    width: 59.167vw;
    height: 3.611vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1.667vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.11vw;
    font-weight: 400;
    line-height: 1.8056vw;
    letter-spacing: 0%;
    text-align: center;
}

.herobutton {
    position: static;
    width: 15.44vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.1805vw 1.6667vw 1.1805vw 1.6667vw;
    border-radius: 0.556vw;
    background: rgb(13, 19, 33);
}

.herobuttontext {
    position: static;
    width: 15.44vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.1805vw 1.6667vw 1.1805vw 1.6667vw;
    flex: none;
    margin: 0px 0.6944vw;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 1.3889vw;
    font-weight: 600;
    line-height: 1.5972vw;
    letter-spacing: 0%;
    text-align: center;
}

.section2 {
    margin-top: 53vw;
    margin-left: 10.278vw;
    margin-right: 10.5556vw;
    height: 105vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5.5556vw 6.7361vw 5.5556vw 6.7361vw;
    border-radius: 1.11vw;
    background: rgba(13, 19, 33, 0.02);
}

.section2texthead {
    position: static;
    width: 59.167vw;
    height: 2.7083vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin: 1vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 2.222vw;
    font-weight: 800;
    line-height: 2.5694vw;
    letter-spacing: 0%;
    text-align: center;
}

.section2text {
    position: static;
    width: 59.1667vw;
    height: 3.6111vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin: 1.667vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.80556vw;
    letter-spacing: 0%;
    text-align: center;
}

.section2box1 {
    position: static;
    width: 65.6944vw;
    height: 23.333vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3.3333vw;
    align-self: stretch;
    margin: 2.2222vw;
    border-radius: 1.1111vw;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.section2box1innerbox {
    position: static;
    width: 59.02778vw;
    height: 16.6667vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: 2.2222vw;
}

.section2box1textbox {
    position: static;
    width: 33.125vw;
    height: 15.2083vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0.6944vw;
}

.section2box1header {
    position: static;
    width: 27.0833vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.11vw;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 1.667vw;
    font-weight: 700;
    line-height: 2.5vw;
    letter-spacing: 0%;
    text-align: left;
}

.section2box1text {
    position: static;
    width: 32.5vw;
    height: 3.611vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.111vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.80556vw;
    letter-spacing: 0%;
    text-align: left;
}

.section2box1button {
    position: static;
    width: 13vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.833vw 1.3889vw 0.833vw 1.3889vw;
    margin: 2.222vw;
    margin-left: 1vw;
    flex: none;
    flex-grow: 0;
    box-sizing: border-box;
    border: 0.15vw solid rgb(13, 19, 33);
    opacity: 0.7;
}

.section2box1buttontext {
    position: static;
    width: 11.875vw;
    height: 1.5972vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;text-decoration: none;
    cursor: pointer;
    padding: 0.8333vw 1.3889vw 0.8333vw 1.3889vw;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0.6944vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.3889vw;
    font-weight: 600;
    line-height: 1.59722vw;
    letter-spacing: 0%;
    text-align: center;
}

.section2box1image {
    width: 18.025vw;
    height: 15.0701vw;
margin-top: 3vw;
}

.section2box2 {
    position: static;
    width: 65.6944vw;
    height: 23.333vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3.3333vw;
    margin: 2.2222vw;
    margin-right: 10vw;
    border-radius: 1.1111vw;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.section2box2innerbox {
    position: static;
    width: 59.02778vw;
    height: 16.6667vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2.2222vw;
}

.section2box2textbox {
    position: static;
    width: 33.125vw;
    height: 15.2083vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0.6944vw;
}

.section2box2header {
    position: static;
    width: 27.0833vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.11vw;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 1.667vw;
    font-weight: 700;
    line-height: 2.5vw;
    letter-spacing: 0%;
    text-align: left;
}

.section2box2text {
    position: static;
    width: 32.5vw;
    height: 3.611vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.111vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.80556vw;
    letter-spacing: 0%;
    text-align: left;
}

.section2box2button {
    position: static;
    width: 13vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.833vw 1.3889vw 0.833vw 1.3889vw;
    margin: 2.222vw;
    margin-left: 1vw;
    flex: none;
    flex-grow: 0;
    box-sizing: border-box;
    border: 0.15vw solid rgb(13, 19, 33);
    opacity: 0.7;
}

.section2box2buttontext {
    position: static;
    width: 11.875vw;
    height: 1.5972vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.8333vw 1.3889vw 0.8333vw 1.3889vw;
    flex: none;
    text-decoration: none;
    cursor: pointer;
    order: 0;
    flex-grow: 0;
    margin: 0px 0.6944vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.3889vw;
    font-weight: 600;
    line-height: 1.59722vw;
    letter-spacing: 0%;
    text-align: center;
}

.section2box2image {
    width: 18.025vw;
    height: 15.0701vw;
    margin-top: 3vw;
    margin-left: 12vw;
    margin-right: 5vw;
}

.section2box3 {
    position: static;
    width: 65.6944vw;
    height: 23.333vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3.3333vw;
    align-self: stretch;
    margin: 2.2222vw;
    border-radius: 1.1111vw;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.section2box3innerbox {
    position: static;
    width: 59.02778vw;
    height: 16.6667vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: 2.2222vw;
}

.section2box3textbox {
    position: static;
    width: 33.125vw;
    height: 15.2083vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0.6944vw;
}

.section2box3header {
    position: static;
    width: 27.0833vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.11vw;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 1.667vw;
    font-weight: 700;
    line-height: 2.5vw;
    letter-spacing: 0%;
    text-align: left;
}

.section2box3text {
    position: static;
    width: 32.5vw;
    height: 3.611vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.111vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.80556vw;
    letter-spacing: 0%;
    text-align: left;
}

.section2box3button {
    position: static;
    width: 13vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.833vw 1.3889vw 0.833vw 1.3889vw;
    margin: 2.222vw;
    margin-left: 1vw;
    flex: none;
    flex-grow: 0;
    box-sizing: border-box;
    border: 0.15vw solid rgb(13, 19, 33);
    opacity: 0.7;
}

.section2box3buttontext {
    position: static;
    width: 11.875vw;
    height: 1.5972vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.8333vw 1.3889vw 0.8333vw 1.3889vw;
    flex: none;
    text-decoration: none;
    cursor: pointer;
    order: 0;
    flex-grow: 0;
    margin: 0px 0.6944vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.3889vw;
    font-weight: 600;
    line-height: 1.59722vw;
    letter-spacing: 0%;
    text-align: center;
}

.section2box3image {
    width: 18.025vw;
    height: 15.0701vw;
    margin-top: 3vw;
}

.section3 {
    position: absolute;
    width: 79.1667vw;
    height: 62vw;
    left: 10.2778vw;
    right: 10.5556vw;
    top: 179vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section3textbox {
    position: static;
    width: 59.1667vw;
    height: 7.9861vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3.333vw;
    margin-right: 11vw;
}

.section3head {
    position: static;
    width: 59.167vw;
    height: 2.7083vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin: 1.667vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 2.222vw;
    font-weight: 800;
    line-height: 2.5694vw;
    letter-spacing: 0%;
    text-align: center;
}

.section3text {
    position: static;
    width: 59.16667vw;
    height: 3.6111vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin-left: 2vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.80556vw;
    text-align: center;
}

.videobox {
    margin-top: 0.8vw;
    margin-right: 1vw;
    width: 71vw;
    height: 40vw;
}

.section4 {
    position: absolute;
    width: 79.1667vw;
    height: 62vw;
    left: 10.2778vw;
    right: 10.5556vw;
    top: 239vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section4textbox {
    position: static;
    width: 59.1667vw;
    height: 7.9861vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3.333vw;
    margin-right: 11vw;
}

.section4head {
    position: static;
    width: 59.167vw;
    height: 2.7083vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin: 1.667vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 2.222vw;
    font-weight: 800;
    line-height: 2.5694vw;
    letter-spacing: 0%;
    text-align: center;
}

.section4text {
    position: static;
    width: 59.16667vw;
    height: 3.6111vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin-left: 2vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.80556vw;
    text-align: center;
}

.section4imagebox {
    position: static;
    width: 78.1667vw;
    height: 15.90278;
    margin-right: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    margin: 0.5vw;
}

.section4image1 {
    position: static;
    width: 20vw;
    height: 20.76389vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw;
    margin: 0px 1.6667vw;
    border-radius: 1.111vw;
    background: rgba(255, 76, 30, 0.05);
}

.section4image2 {
    position: static;
    width: 20vw;
    height: 20.76389vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw;
    margin: 0px 1.6667vw;
    border-radius: 1.111vw;
    background: rgba(0, 76, 232, 0.05);
}

.section4image3 {
    position: static;
    width: 20.5vw;
    height: 20.76389vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vw;
    margin: 0px 1.6667vw;
    border-radius: 1.111vw;
    background: rgba(255, 223, 0, 0.05);
}

.section4image1pic {
    position: static;
    width: 3.8889vw;
    height: 3.8889vw;
    margin: 1.6667vw;
}

.section4image1head {
    position: static;
    width: 19.72222vw;
    height: 2.5vw;
    display: flex;
    margin: 0.5556vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.6667vw;
    font-weight: 800;
    margin-left: 1.5vw;
    line-height: 2.5vw;
    text-align: left;
}

.section4image1text {
    position: static;
    width: 19.72222vw;
    height: 3.6111vw;
    display: flex;
    margin: 0.5556vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    margin-left: 1.5vw;
    line-height: 1.80556vw;
    text-align: left;
}

.section4image1link {
    position: static;
    width: 19.7222vw;
    height: 1.3194vw;
    display: flex;
    margin: 1.6667vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.1111vw;
    font-weight: 700;
    line-height: 1.3194vw;
    text-align: left;
    text-decoration-line: underline;
}

.section4image2pic {
    position: static;
    width: 3.8889vw;
    height: 3.8889vw;
    margin: 1.6667vw;
}

.section4image2head {
    position: static;
    width: 19.72222vw;
    height: 2.5vw;
    display: flex;
    margin: 0.5556vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.6667vw;
    font-weight: 800;
    margin-left: 1.5vw;
    line-height: 2.5vw;
    text-align: left;
}

.section4image2text {
    position: static;
    width: 19.72222vw;
    height: 3.6111vw;
    display: flex;
    margin: 0.5556vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    margin-left: 1.5vw;
    line-height: 1.80556vw;
    text-align: left;
}

.section4image2link {
    position: static;
    width: 19.7222vw;
    height: 1.3194vw;
    display: flex;
    margin: 1.6667vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.1111vw;
    font-weight: 700;
    line-height: 1.3194vw;
    text-align: left;
    text-decoration-line: underline;
}

.section4image3pic {
    position: static;
    width: 3.8889vw;
    height: 3.8889vw;
    margin: 1.6667vw;
}

.section4image3head {
    position: static;
    width: 19.72222vw;
    height: 2.5vw;
    display: flex;
    margin: 0.5556vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.6667vw;
    font-weight: 800;
    margin-left: 1.5vw;
    line-height: 2.5vw;
    text-align: left;
}

.section4image3text {
    position: static;
    width: 19.72222vw;
    height: 3.6111vw;
    display: flex;
    margin: 0.5556vw;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.111vw;
    font-weight: 400;
    margin-left: 1.5vw;
    line-height: 1.80556vw;
    text-align: left;
}

.section4image3link {
    position: static;
    width: 19.7222vw;
    height: 1.3194vw;
    display: flex;
    margin: 1.6667vw;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 1.1111vw;
    font-weight: 700;
    line-height: 1.3194vw;
    text-align: left;
    text-decoration-line: underline;
}

.supportsection {
position: absolute;
width: 79.167vw;
height: 21.736vw;
top: 285vw;
display: flex;
margin-left: 6.5vw;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 4.44vw 3.33vw 4.44vw 3.33vw;
background-image: url(assets/handshake.jpg);
background-size: cover;
border-radius: 16px;}

footer {
    position: absolute;
    width: 98.7vw;
    height: 10vw;
    top: 380vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(13, 19, 33, 0.03);
}